<div class="p-6 bg-gray-700 text-white lg:px-10 xl:rounded-b-lg" id="announcement">
  This is a multi-market demo website built with Shopify and Commerce Layer.
  <a href="https://commercelayer.io/blog/how-to-sell-internationally-with-a-single-shopify-store-and-commerce-layer" class="underline hover:opacity-75">Read full article</a> to learn more about the details.
</div>