<!-- Availability message container -->
<div
  class="clayer-availability-message-container text-sm text-red-600 mt-2"
  id="availability-message"
></div>

<!-- Availability message templates-->
<template id="clayer-availability-message-available-template">
  <p>
    Generally shipped in
    <span class="clayer-availability-message-available-min-days"></span>
    -
    <span class="clayer-availability-message-available-max-days"></span>
    days with
    <span
      class="clayer-availability-message-available-shipping-method-name"
    ></span>
    (<span
      class="clayer-availability-message-available-shipping-method-price"
    ></span
    >)
  </p>
</template>

<template id="clayer-availability-message-unavailable-template">
  <p class="text-red-500">The selected SKU is not available.</p>
</template>