<div id="cart-empty">
  <div class="text-gray-500 mb-6">
    You cart is empty
    &mdash;
    {% assign locale = request.path | slice: 1, 5 %}
    <a href="/{{locale}}" class="underline hover:opacity-75">
      Continue&nbsp;shopping
    </a>  
  </div>
</div>
