<footer class="flex items-center border-t p-6 mt-6 md:mt-0 lg:px-10 xl:px-0 xl:mt-16">
  <div class="grow flex items-center">
    <span class="mr-2 md:mr-4 text-gray-400">Powered by</span>
    <img src="{{ 'shopify-commercelayer.svg' | asset_url }}" class="w-64 hidden md:inline">
    <img src="{{ 'shopify-commercelayer-glyphs.svg' | asset_url }}" class="w-16 md:hidden">
  </div>
  {% unless request.path == "/" %}
    {% render "commercelayer" %}
  {% endunless %}
</footer>