<div class="clayer-price text-lg mt-4" data-sku-code="{{ sku }}" id="{{ id }}">
  <span class="amount text-red-600 font-semibold"></span>
  <span class="compare-at-amount line-through decoration-2 text-red-300"></span>
</div>