.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.description {
  margin: 2rem 0 0;
  max-width: 40rem;
  line-height: 1.6;
  font-size: 1.25rem;
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

@media (prefers-color-scheme: dark) {
  .code {
    background: #1c1c1e;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}
